/* Removes default padding and margin */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Define minimum font size */
html {
  font-size:1rem;
}

 /* Define breakpoints and font sizes */
@media (min-width:640px) and (max-width:1023px) {
  html {
  font-size: 1.0625rem;
  }
}

@media (min-width:1024px) and (max-width:1279px) {
  html {
  font-size: 1.125rem;
  }
}

 /* Define max font size and viewport */
@media (min-width:1280px) {
  html {
  font-size: 1.1875rem;
  }
}

/* Define font sizes */
h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

/* Set core body defaults */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

h1,
h2 {
  line-height: 1;
}

main {
  flex: 1;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

section {
  margin: 2rem 0;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

footer {
  padding: 1rem;
  text-align: center;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}