body {
  background: #222;
  color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;

  h1,
  h2 {
    font-weight: 900;
  }

  a {
    color: #c2c2c2;
  }

  .cta-container {
    margin-top: 1.25rem;

    .cta {
      background: mediumslateblue;
      padding: 1rem;
      text-decoration: none;
    }
  }
}

.header {
  align-items: center;
  background: #2b2b2b;
  display: flex;
  justify-content: space-around;
  padding: .5rem 0;

  .navlist {
    display: flex;

    .navlink {
      margin: .5rem;
      padding: .5rem;
    }
  }
}

.banner {
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 66vh;
  justify-content: center;
}

#intro {
  display: flex;
  width: 100%;
  
  #intro-text,
  #intro-image {
    margin: 3rem;
    width: 50%;
  }
}

.footer {
  background: #2b2b2b;
}