
$background: #c2eabd;
$color: #011936;
$color-light: #31475E;
$accent: #363767;
$accent-light: #8789C0;

body {
  background: $background;
  color: $color;
  font-family: 'Montserrat', sans-serif;

  h1,
  h2 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
  }


  a {
    color: $color;

    &:hover {
      color: $color-light;
    }
  }

  .cta-container {
    margin: 1.25rem 0;

    .cta {
      background: $accent;
      color: $background;
      font-size: .75rem;
      font-weight: 700;
      padding: .75rem;
      text-decoration: none;

      &:hover {
        background: none;
        color: $accent;
        outline: .25rem solid $accent;
      }
    }
  }
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 3vw;

  .logo {
  
  a {
    text-decoration: none;
  }
  }


  .navlist {
    display: flex;

    .navlink {
      margin: .5rem;
      padding: .5rem;
    }
  }
}

.banner {
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 66vh;
  justify-content: center;
  text-align: center;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 1.25rem;
  }
}

section {
  margin: 0 auto;
  padding: 5rem 0;
  width: 95%;

  h2 {
    padding-bottom: 2.5rem;
  }

  &#intro {
    display: flex;
    margin: 0 auto;

    #intro-text,
    #intro-image {
      padding: 1rem;
      width: 50%;
    }
  }

  article {
    margin: 0 auto;
    padding-bottom: 5rem;

    .unimportant {
      color: $color-light;
      margin-top: 0;
    }
  }
}

#intro {
  display: flex;
  margin: 0 auto;
  
  #intro-text,
  #intro-image {
    width: 50%;
  }
}

aside {
  text-align: center;
  i {
    font-size: 2rem;
    margin: 0 .5rem;
  }
}

/* Media Queries */
@media screen and (min-width: 1000px) {
  main {
    margin: 0 auto;
    width: 65%;
  }

  .banner {
    h1 {
      font-size: 3.5rem;
    }
    h3 {
      font-size: 1.5rem;
    }
  }
}