
// $background: #C2EABD;
// $background-light: #DEFCD9;
// $color: #011936;
// $color-light: #31475E;
// $accent: #363767;
// $link-hover: #b01028;

$background: #011936;
$background-light: #19253d;
$color: #C2EABD;
$color-light: #9BBE97;
$accent: #8789C0;
$link-hover: #f9dc5c;

body {
  background: $background;
  color: $color;
  font-family: 'Montserrat', sans-serif;

  h1,
  h2 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
  }


  a {
    color: $color;

    &:hover {
      color: $link-hover;
    }
  }

  .cta-container {
    margin: 1em 0;

    .cta {
      background: $accent;
      color: $background;
      font-size: clamp(14px, 2.2vw, 18px);
      font-weight: 700;
      padding: .75em;
      text-decoration: none;

      &:hover {
        background: none;
        color: $accent;
        outline: 1px solid $accent;
      }
    }
  }
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 3vw;

  .logo {
  
  a {
    text-decoration: none;
  }
  }


  .navlist {
    display: flex;

    .navlink {
      margin: .75em;
      text-decoration: none;
    }
  }
}

.banner {
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 66vh;
  justify-content: center;
  text-align: center;

  h1 {
    margin-bottom: .15em;
  }
}

section {
  margin: 0 auto;
  padding: 5em 0;
  width: 95%;

  h2 {
    padding-bottom: 2.5em;
  }

  &#intro {
    display: flex;
    margin: 0 auto;

    #intro-text,
    #intro-image {
      padding: 1em;
      width: 50%;
    }
  }

  article {
    margin: 0 auto 5em auto;
    outline: 1px solid $accent;
    padding: 2em 2em;
    transition: box-shadow .2s ease-in-out;

    &:hover {
      background: $background-light;
      box-shadow: -2vh 2vh $accent;
    }

    .unimportant {
      color: $color-light;
      margin-top: 0;
    }
  }
}

#blog-post-container {

  &:hover {
    background: $background;
    box-shadow: none;

  }

  .blog-image {
    margin: 4vw auto;
    outline: 5px solid #fff;
  }
}

#intro {
  display: flex;
  margin: 0 auto;
  
  #intro-text,
  #intro-image {
    width: 50%;
  }
}

aside {
  text-align: center;

  i {
    
    font-size: clamp(32px, 2.2vw, 48px);
    margin: 0 .5em;
  }
}

/* Media Queries */
@media screen and (min-width: 1200px) {
  main {
    margin: 0 auto;
    width: 75%;
  }

  .blog-image {
    margin: 6vw auto;
    width: 85%;
  }
}

@media screen and (min-width: 1441px) {
  main {
    margin: 0 auto;
    width: 75%;
    max-width: 1235px;
  }

  
  .blog-image {
    margin: 8vw auto;
  }
}
